page-settings {

    
    h2, h5{
        padding-top: 30px;
        color: color($colors,light);
        text-align: center;
    }

    ion-input{
        color: white!important;
        font-size: 20px;
    }

}
